<div class = "container-fluid col-md-6 offset-md-3">
    <table class="table" border="1">
   <tr><th>ID</th><th>ImagePath</th><th>Food Name</th><th>Category</th><th>FoodPrice</th></tr>
   <tr>
    <td>{{product.id}}</td>
    <td><img src="{{product.imagePath}}" style="height: 150; width: 250;"></td>
    <td>{{product.foodname}}</td>
    <td>{{product.category}}</td>
    <td>{{product.foodprice}}</td>
    <td> <button (click) = "proceed()" class = "btn btn-success"><i class="fa fa-shopping-cart" aria-hidden="true">  Checkout</i></button></td>
    <td> <button (click) = "addMore()" class = "btn btn-success"><i class="fa fa-cart-plus" aria-hidden="true">  Add  More  To  Cart</i></button></td>
    </tr>
    </table>

  