
<h1>Product Details</h1>

<ul class="list-group">
    <li class="list-group-item">
        <i class="fa fa-id-card"></i><b>Id :</b> {{product.id}}
    </li>

    <li class="list-group-item">
        <i class="fa fa-user"></i>Food Name : {{product.foodname}}
    </li>

    <li class="list-group-item">
        <i class="fa fa-rupee"></i>FoodPrice : {{product.foodprice}}
    </li>

    

    <li class="list-group-item">
        <i class="fa fa-globe"></i>Category: {{product.category}}
    </li>

    <li class="list-group-item">
        <i class="fa fa-upload"></i>Imagepath:{{product.imagePath}}
        
    </li>

</ul>