
<i><b><h1 style="text-align: center;
    height: 200px; font-size: 100px; color:blue ">Welcome to the Food-Box</h1></b></i>
  
  <button type="button" (click) = "goToAdminLogin()" class="btn btn-primary btn-lg btn-block">Admin login</button>
  <button type="button" (click) = "goToUserLogin()" class="btn btn-primary btn-lg btn-block">User login</button>
  <table>
  
    <tr><td><img src="./assets/resturant.jpg" width="700" height="500"></td>
    <td><img src="./assets/resturant1.jpg" width="715" height="500"></td>
    </tr>
  </table>
