

<div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="row" style="padding-right: 20px;" >
           
          <img class="d-block w-100" src="https://img.freepik.com/premium-photo/paneer-butter-masala-cheese-cottage-curry-serving-bowl-pan-served-with-without-roti-rice_466689-6831.jpg?size=626&ext=jpg&ga=GA1.2.1633781455.1679822381&semt=sph"style="height: 350px; width: 600px;"/>
           
            <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> Buy NOW</button>    
          
        </div>
        
      </div>
      
      <div class="col-md-6">
        <div class="row " >
           <img class="d-block w-100" src="https://as2.ftcdn.net/v2/jpg/00/39/01/57/1000_F_39015733_RlkPhCskQTJuLc8idgn7mpBajaViWqtn.jpg" style="height: 350px; width: 600px;"/>
           <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i>  Buy NOW</button>    
          
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="row" style="padding-right: 20px;" >
             
            <img class="d-block w-100" src="https://thumbs.dreamstime.com/b/dal-makhani-dark-background-traditional-indian-cuisine-puree-dish-urad-beans-red-butter-spices-cream-156960449.jpg" style="height: 350px; width: 600px;"/>
             
              <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i>  Buy NOW</button>    
            
          </div>
          
        </div>
        
        <div class="col-md-6">
          <div class="row " >
             <img class="d-block w-100" src="https://img.freepik.com/free-photo/two-milkshakes-with-chocolate-strawberry_140725-68.jpg?size=626&ext=jpg&ga=GA1.2.1633781455.1679822381&semt=sph" style="height: 350px; width: 600px;"/>
             <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i>  Buy NOW</button>    
            
            </div>
        </div>
      </div>
    
  </div>
  